<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pandas Profiling</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="container">
        <form action="/upload" method="post" enctype="multipart/form-data">
            <div class="choose_file">
                <h1> <label for="formFileLg" class="form-label">Upload .csv File :</label></h1>
                <div class="input_container ">
                    <input class="choose_file_input" id="formFileLg" name="file" type="file" required>
                </div>
                <div class="btn-cnt">
                    <button class="btn btn-primary submit-button" type="submit">Generate Report</button>
                </div>
            </div>


        </form>
    </div>
</body>

</html>